
#div2,#div3,#div4{
    float:right;
    width: 20vw;
    height: 80vh;
    border: 2px dotted;
    margin: 0rem 1rem;
    background-color: whitesmoke;
    border-radius: 10px;
}
.drop img{
    margin: 5px auto;
    object-fit: contain;
    position: relative;
    display: grid;
    width: 6rem;
}